.container-btn {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.btn-verify,
.btn-retry {
  cursor: pointer;
  user-select: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
  text-align: center;
  width: 80%;
}

.btn-verify {
  background-color: #4caf50;
  color: white;
}

.btn-verify:hover {
  background-color: #45a049;
}

.btn-retry {
  background-color: #f44336;
  color: white;
}

.btn-retry:hover {
  background-color: #d32f2f;
}
